.navbar {
    background-color: var(--light-bg);
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--border-color);
}

.navbar-brand {
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--dark-color) ;
}

.nav-link {
    font-weight: 600;
    color: #666;
    margin: 0 1rem;
    transition: color 0.3s;
}

.footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 5rem 0;
}
.footer h5 {
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.footer a {
    color: #a0a0a0;
    text-decoration: none;
    display: block;
    margin-bottom: 0.75rem;
    transition: color 0.3s;
}
.footer a:hover {
    color: var(--light-color);
}
.footer p {
    color: #a0a0a0;
}

